*{
    margin: 0;
    padding: 0;
    background-color: grey;
}
.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 20px;
}
.nav ul{
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #16a085;
    
}
.nav ul li:hover a{
    color: snow;
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #bdc3c7;
    text-decoration: none;
}
.nav ul li:hover p {
    color: snow;
}
.nav ul li p {
    display: block;
    padding: 20px;
    color: #bdc3c7;
    text-decoration: none;
}
.menu {
    display: block;
    padding: 0px;
    color: #bdc3c7;
    text-decoration: none;

}
 
.menu:hover {
    background-color: grey;
    }
 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: green;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

